/* font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
 /* css reset end  */
 /* default */
.container{
    max-width: 1264px;
    margin: 0 auto;
}

 /* hero section */
.hero{
    background-image: url('images/hero.png');
    max-height: 962px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 56px 50px;
    transition: .5s;
    z-index: 2;
}

header.add-bg{
    transition: .5s;
    background-color: #0e1d28;
    padding: 25px 50px;
}

a.logo{
    display: inline-block;
}

.logo img{
    display: block;
}

.nav-links{
    display: flex;
}

.nav-items{
    margin: 0 41px;
}

.nav-items a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.nav-items:last-child{
    margin-right: 0;
}

.burger{
    display: none;
    cursor: pointer;
}

.hero .container{
    height: calc(100vh - 143px);
    position: relative;
    z-index: -1;
}

.hero-content{
    position: absolute;
    top: 28vh;
    padding-left: 100px;
    z-index: -1;
}

/* hero content */
.hero-content h1{
    max-width: 619px;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    margin-bottom: 22px;
}
.hero-content p{
    max-width: 546px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 57px;
}

/* hero-form radio */

.hero-form{
    position: relative;
}

.survey{
    display: inline-block;
}

.survey-item{
    display: inline-block;
    width: 350px;
    position: relative;
}

.survey-item:hover{
    cursor: pointer;
}


.radio-button{
    display: block;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    margin: 0;
    outline: 0;
    visibility: hidden;
}

.radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked + .radio::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffffff;
}

input[type="radio"]:checked ~ .question{
    bottom: 50px;
}

.custom-text-input{
    position: relative;
    right:20px ;
    bottom: 5px;
    padding: 20px 25px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    color: #ffffff;
    outline: none;
}

.question{
    color: #ffffff;
    font-size: 18px;    
    position: absolute;
    right: 100px;
    bottom: 30px;
}

/* hero-form radio ends */

/* cta  */
a.search{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    background-color: #1b7dff;
    text-transform: uppercase;
    padding: 15px 39px;
    font-size: 24px;
    vertical-align: bottom;
}

/* dry */
.heading{
    color: #102746;
    font-size: 35px;
    letter-spacing: 0;
    margin-bottom: 46px;
}
.heading-underline{
    position: relative;
    padding-bottom: 12px;
}
.heading-underline::before{
    content: "";
    width: 253px;
    height: 3px;
    position: absolute;
    border-bottom: 2px solid #006dfe;
    bottom: 0;
}
.more-link{
    color: #006dfe;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.arrow-icons{
    color: #006dfe;
    font-size: 16px;
    margin-left: 26px;
}
.benefits-subheading{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits-description{
    width: 100%;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
/* dry end */
/* benefits section */
.benefits{
    height: 513px;
}
.benefits .container{
    background-color: #ffffff;
    padding: 93px 63px 112px 100px;
    position: relative;
    bottom: 20vh;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
}

.benefits h2{
    line-height: 42px;
    margin-bottom: 120px;
}

.benefits-details{
    display: flex;
    justify-content: space-between;
}

.benefits-items{
    width: 28%;
}

.benefits-items img{
    margin-bottom: 37px ;
}

/* gallery section  */
.gallery{
    padding: 65px 0;
}

.gallery .wrapper{
    display: flex;
    justify-content: space-between;
}

.gallery-items{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-details{
    position: relative;
}

.item-details:nth-of-type(1){
    margin-right: 5px;
    margin-bottom: 5px;
}

.item-details:nth-of-type(2){
    margin-left: 5px;
    margin-bottom: 5px;
}

.item-details:nth-of-type(3){
    margin-top: 5px;
}

.item-details:nth-of-type(4){
    margin: 5px 10px 0 10px;
}

.item-details:nth-of-type(5){
    margin-top: 5px;
}

.overlay-gallery{
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    z-index: 1;
} 

.item-details img{
    display: block;
}

.place-name-gallery{
    position: absolute;
    color: #ffffff;
    bottom: 27px;
    left: 29px;
    font-size: 50px;
    font-weight: 700;
    z-index: 1;
}

/* best places  */
.best-places{
    padding: 65px 0;
}

.palce-name{
    display: flex;
    justify-content: space-between;
}

.palce-name:nth-of-type(1){
    margin-bottom: 77px;
}

.place-feature,
.place-heading{
    font-size: 30px;
    line-height: 40px;
    color: #102746;
}

.places-content{
    padding: 26px 45px;
    width: 47%;
}

.place-heading{
    margin-bottom: 45px;
}

.place-description{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
}

/* top places to visit */

.top-places-to-visit{
    padding: 65px 25px;
}

.top-places-to-visit h2.heading{
    margin-bottom: 64px;
}

.places-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item{
    max-width: 386px;
    margin-bottom: 69px;
}

.card-show{
    position: relative;
}

.top-places-to-visit img{
    width: 100%;
    margin-bottom: 45px;
}

.overlay-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: rgba(21, 24, 36, 0.6);
    color: #ffffff;
    position: absolute;
    bottom: 47px;
    right: 0;
    left:0;
    padding: 15px 25px;
}

.place-activities i.fas{
    margin-left: 10px;
}

.place-activities i.fa-heart{
    margin-right: 15px;
}

.place-activities span,
.place-activities i{
    font-size: 16px;
}

.place-name{
    font-size: 18px;
    text-transform: uppercase;
}

.card-item .description{
    font-size: 15px;
    color: #102746;
    line-height: 24px;
    margin-bottom: 31px;
}

.card-item a.see-more{
    font-size: 16px;
    padding: 11px 19px;
    background-color: #006dfe; 
    text-decoration: none;
    color: #ffffff;
}

/* video */
.video iframe{
    width: 100%;
    height: 610px;
}

/* footer  */

footer{
    padding:118px 188px;
    background-color: #0e1d28;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-right{
    display: flex;
}

.footer-right .footer-right-items:nth-of-type(2){
    margin: 8px 150px;
}

.footer-links-item{
    margin: 8px 0;
}

footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.footer-right-items{
    margin: 8px 0;
}

.footer-heading{
    font-size: 18px;
    line-height: 24px;
}
@media (max-width:1264px){
    .gallery-items {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: -1;
    }
    .item-details img{
        width: 75vw;
    }
    .item-details{
        margin: 10px 0 0 0 !important;
    }
}

@media (max-width:1082px) {
    footer{
        padding: 60px 25px;
    }
}
@media (max-width:992px) {
    header{
        padding: 25px ;
    }
    header.add-bg{
        transition: .5s;
        background-color: #0e1d28;
        padding: 25px 12px;
    }  
    a.search{
        margin-top: 20px;
    }

    .benefits{
        height: auto;
    }
    .benefits .container{
        background-color: #ffffff;
        position: static;
        box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
        padding: 50px 12px;
    }

    .benefits-details{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .benefits-items{
        width: 60%;
    }
    .benefits-items:nth-of-type(2n){
        margin: 20px 0;
    }
    .palce-name{
        flex-direction: column;
        align-items: center;
    }
    .places-content {
        padding: 26px 45px;
        width: 80%;
    }
    .palce-name:nth-of-type(1) {
        margin-bottom: 0;
    }
    .places-card{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px) {
    
    header.add-bg{
        transition: .5s;
        background-color: #0e1d28;
        padding: 25px 12px;
    }

    .burger{
        display: block;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }
    body{
        overflow: auto;
    }
    header ul{
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #0e1d28;
        height: calc(100vh - 80px);
        width: 320px;
        transform: translateX(100%);
        transition: .5s ease-out ;
        z-index: 10;
        flex-direction: column;
        align-items: center;
    }

    .nav-items {
        margin: 20px 0;
    }

    .hide-on-mobile{
        transform: translate(100%);
    }
    
    .hide-on-mobile + .burger .line1{
        display: block;
    }

    .hide-on-mobile + .burger .line2{
        transform: rotate(0deg);
        transition: .5s;
    }

    .hide-on-mobile+ .burger .line3{
        transform: rotate(0deg);
        transition: .5s;
    }

    .show-on-mobile{
        transform: translate(0);
        transition: .5s ease-out ;
    }

    .show-on-mobile + .burger .line1{
        display: none;
    }

    .show-on-mobile + .burger .line2{
        transform: rotate(45deg);
        transition: .5s;
    }

    .show-on-mobile + .burger .line3{
        transform: rotate(315deg) translate(5px,-6px);
        transition: .5s;
    }
    
    .hero-content{
        padding:0 12px;
    }

    .hero-content h1{
        max-width: 619px;
        color: #ffffff;
        font-size: 35px;
        letter-spacing: 0;
        margin-bottom: 18px;
    }
    .hero-content p{
        max-width: 546px;
        color: #ffffff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 20px;
    }

    a.search{
        padding: 14px 20px;
        font-size: 16px;
    }
    .wrapper{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .places-content {
        padding: 25px;
        width: 100%;
    }

    .palce-name img {
        width: 100%;
    }

    footer{
        flex-direction: column;
    }

    .footer-right{
        flex-direction: column;
    }

    .footer-right .footer-right-items:nth-of-type(2) {
        margin: 8px 0;
    }

    .footer-right .footer-right-items{
        margin: 16px 0;
    }
}

@media (max-width:572px){
    
    .best-places {
        padding: 30px 0;
    }
    
    .gallery {
        padding: 35px 10px;
    }

    .item-details img {
        width:100%;
    }

    .heading{
        font-size: 22px;
        margin-bottom: 32px;
    }
    
    .heading-underline::before{
        content: "";
        width: 150px;
        height: 3px;
    }

    .place-name-gallery {
        bottom: 13px;
        left: 10px;
        font-size: 28px;
    }

    .top-places-to-visit {
        padding: 65px 10px;
    }

    .top-places-to-visit h2 {
        font-size: 22px;
        color: #102746;
        letter-spacing: 0;
        margin-bottom: 32px;
    }
    .top-places-to-visit h2::before {
        content: "";
        width: 150px;
        height: 27px;
        position: absolute;
        border-bottom: 2px solid #006dfe;
    }

    .card-item{
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .radio{
        top:40px;
        left: 10px;   
    }
    .survey-item {
        display: inline-block;
        width: 250px;
        position: relative;
    }   
    .custom-text-input{
        margin: 0 0 0 25px;
    }
    .question{
        width: 100%;
        right: -50px;
    }
    a.search{
        display: inline-block;
    }
}